/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f2f0f0;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #4A148C;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*hover topnav*/
.text-color-icon {
  color: #75caeb;
}
.text-color-icon:hover {
  color: black;
}
.text-color-salir{
  color: #B71C1C
}
.text-color-salir:hover {
  color: #ff4136;
}
.focusColor{
  border-color: red;
  

}
.msjValidar{
  color: red;
  border-color:red;
}

.alerta {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alerta h4 {
  margin-top: 0;
  color: inherit;
}
.alerta .alerta-link {
  font-weight: bold;
}
.alerta > p,
.alerta > ul {
  margin-bottom: 0;
}
.alerta > p + p {
  margin-top: 5px;
}
.alerta-dismissable,
.alerta-dismissible {
  padding-right: 35px;
}
.alerta-dismissable .close,
.alerta-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alerta-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alerta-success hr {
  border-top-color: #c9e2b3;
}
.alerta-success .alerta-link {
  color: #2b542c;
}
.alerta-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alerta-info hr {
  border-top-color: #a6e1ec;
}
.alerta-info .alerta-link {
  color: #245269;
}
.alerta-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alerta-warning hr {
  border-top-color: #f7e1b5;
}
.alerta-warning .alerta-link {
  color: #66512c;
}
.alerta-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alerta-danger hr {
  border-top-color: #e4b9c0;
}
.alerta-danger .alerta-link {
  color: #843534;
}
.content-page-container{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-top: 3.5em;
    width: 100%;
    background-color: #FAFAFA;
}
