
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Toggle Styles */
/*
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles 

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}*/

.alerta {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alerta h4 {
  margin-top: 0;
  color: inherit;
}
.alerta .alerta-link {
  font-weight: bold;
}
.alerta > p,
.alerta > ul {
  margin-bottom: 0;
}
.alerta > p + p {
  margin-top: 5px;
}
.alerta-dismissable,
.alerta-dismissible {
  padding-right: 35px;
}
.alerta-dismissable .close,
.alerta-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alerta-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alerta-success hr {
  border-top-color: #c9e2b3;
}
.alerta-success .alerta-link {
  color: #2b542c;
}
.alerta-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alerta-info hr {
  border-top-color: #a6e1ec;
}
.alerta-info .alerta-link {
  color: #245269;
}
.alerta-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alerta-warning hr {
  border-top-color: #f7e1b5;
}
.alerta-warning .alerta-link {
  color: #66512c;
}
.alerta-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alerta-danger hr {
  border-top-color: #e4b9c0;
}
.alerta-danger .alerta-link {
  color: #843534;
 }
  
.content-page-container{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-top: 3.6em;
    width: 100%;
    background-color: #EEEEEE;
}
